.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    background: #1E1E1E;
    font-weight: 500;
    width: 100%;
    overflow:hidden;
  }
  
  .navbar .menuList {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar .menuList .menuItem {
    border-radius: 6px;
    margin: none;

  }
  
  .navbar .menuList .menuItem.menuItemLeft:hover {

    transform: scale(1.10);
  }

  .navbar .menuList .menuItem.menuItemRight:hover {
    background: #f7a90e;
    transform: scale(1.10);
  }
  
  .navbar .menuList .menuItem.menuItemLeft {
    margin: 10%;
    border: none;
    
  }
  
  .navbar .menuList .menuItem.menuItemRight {
    display: flex;
    background-color: #FCBF49;
    margin-right: 10px;
    width: 95px;
    justify-content: center;
    align-items: center;

  }

  
  .navbar .menuList .menuItem .link {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
  }

  .navbar .menuList .menuItem.menuItemRight .link {
    color: #1E1E1E;
    font-weight: 600;
  }
  
  .navbar .menuList .menuItem .link.logoutBtn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    
    background: none;
    outline: none;
    border: none;
    font-size: inherit;
    font-weight: 600;
    cursor: pointer;
  }
  
  .navbar .menuList .menuItem .link .userMarker {
    content: "";
    display: block;
    width: 5px;
    height: 32px;
    border-radius: 20px;
    background: #3c3e44;
    margin-right: 8px;
  }

  .navbar .menuList .menuItem.loggedUser {
    display: flex;
    align-items: center;
    margin-right: 5px;
    text-decoration: none;
    
    font-size: inherit;
    font-weight: 600;
    cursor: pointer;
  }

  .navbar .menuList .menuItem.loggedUser:hover {
    transform: scale(1.05);
    background: #868686;
  }

  .logo {
    width: 100px;
    height: 35px;
  }
