@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-color: #F77F00;
}

.tour-transitions {
    transition: ease-in-out 200ms;
    box-shadow: none;
    transform: scale(1);
    cursor: pointer;
}

.tour-transitions:hover {
    box-shadow: 5px 5px 0px 0px white;
    transform: scale(101%);
}

.tour-transitions:active {
    box-shadow: 5px 5px 0px 0px white;
    transform: scale(99%);
}